<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="main" style="width: 800px;height:600px;"></div>
</body>
</html>
<script>
var myChart = echarts.init(document.getElementById('main'));
var option = {
    title: {
        text: 'Hello world'
    },
    tooltip: {},
    legend: {
        data:['销量']
    },
    xAxis: {
        data: {{x|safe}}
    },
    yAxis: {},
    series: [{
        name: '销量',
        type: 'line',
        data: {{y}}
    }]
};
myChart.setOption(option);
</script>