{% extends "base.html" %}
{% block body %}
    <div class="content">
        <div class="charts">
            {% for item in result %}
                <div id="chart-{{item[0]}}" class="chart" style="width: 50%; height: 300px"></div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}

{% block script %}
{% for item in result %}
var myChart{{item[0]}} = echarts.init(document.getElementById('chart-{{item[0]}}'));
var option = {
    title: {
        text: '{{item[1]}}'
    },
    tooltip: {},
    legend: {
        data:['{{item[3]}}']
    },
    xAxis: {
        data: {{item[4]|safe}}
    },
    yAxis: {},
    series: [{
        name: '{{item[3]}}',
        type: 'line',
        data: {{item[5]}}
    }]
};
myChart{{item[0]}}.setOption(option);
{% endfor %}
{% endblock script %}

{% block style %}
.content {
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
}

.charts {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.chart {
    width: 50%;
    height: 300px;
}
{% endblock style %}